<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Show Cookies</title>
</head>
<body>
  <h1>Stored Cookie Data</h1>
  <p><strong>Name:</strong> <%= name %></p>
  <p><strong>Age:</strong> <%= age %></p>
  <a href="/">set-cookies</a>
</body>
</html>
