<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Protected Page</title>
</head>
<body>
  <h2>Protected Page</h2>
  <p>Welcome, <%= user.username %>!</p>
  <h3>User List:</h3>
  <ul>
    <% users.forEach(function(user) { %>
      <li><%= user.username %></li>
    <% }) %>
  </ul>
  <a href="/signup">Logout</a>
</body>
</html>
